*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.login{
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(35px);
    width: 30vw;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2rem;
    border-radius: 2rem;
    padding: 4rem;
}

.loginContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('https://images8.alphacoders.com/123/1239285.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.inputfield{
    width: 90%;
    padding: 1rem;
}

.inputfield input{
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid white;
    font-size: 1.5rem;
    color: inherit;
}



.loginBtn button{
    font-size: 2rem;
    background-color: transparent;
    border: 3px solid transparent;
    padding: 0.5rem;
    margin: 1rem;
    color: white;
    border-radius: 0.4rem;
}

.loginBtn button:hover{
    transition-duration: 0.2s;
    border: 3px solid white;
}
.loginBtn :nth-child(2){
    font-size: 1rem;
}
.loginBtn :nth-child(2):hover{
    border: none;
    border-bottom: 3px solid white;
    border-radius: 0;
}


/* Home Screen  */

.home{
    width: 100vw;
    height: 100vh;
    
}

.home nav{
    background-color:#19A3EA ;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-size: 2rem;
}

.home nav button{
    color: white;
    background-color:#19A3EA ;
    border:1px solid white;
    font-size: 1.5rem;
    padding: 0.3rem;
    border-radius: 0.5rem;
}
.home nav button:hover{
    color: #19A3EA;
    background-color: white;
    transition-duration: 300ms;
}

.homeBody{
    text-align: center;
    margin: 2rem;
}

.homeBody table{
    margin: auto;
    border: 1px solid #19A3EA;
    padding: 3rem;
    border-radius: 2rem;
    font-size: 3rem;
    text-align: left;
}

td,th{
    padding: 1rem
}
td{
    padding-left: 3rem;
}

.admin{
    width: 100vw;
    height: 100vh;
}

.admin nav{
    background-color: purple;
    padding: 2rem 1rem;
    color: white;
    font-size: 3rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.admin nav button{
    background-color: transparent;
    outline: white;
    border: 1px solid white;
    color: white;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
}
.adminBody{
    display: flex;
    padding: 2rem;
}
.voters{
    padding: 2rem;
    border: 1px solid purple;
    border-radius: 2rem;
    color: purple;
}

.voters li{
    background-color: purple;
    list-style-type: none;
    color: white;
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 15px rgba(62, 37, 87, 0.694) ;
    display: flex;
    justify-content: space-between;
}

.voters li button{
    border: 1.5px solid white;
    padding : 0.3rem;
    background-color: purple;
    color: white;
    margin-left: 0.7rem;
    border-radius: 0.3rem;
}

.voters li button:hover{
    color: purple;
    background-color: white;
    border-color: violet;
    transition-duration: 500ms;
}
.election{
    padding: 1rem;
    border: 1px solid purple;
    border-radius: 2rem;
    flex-basis:60vw ;
}

.election .input,input,button{
    font-size: 2rem;
    margin-left: 1rem;
    margin-bottom: 1rem;

}

.election button{
    padding: 1rem;
    border-radius: 0.5rem;
}

.half{
    flex-grow: 1;
    margin: 1rem;
}